<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" monitorInterval="1800">
    <properties>
        <property name="Pattern_Layout">%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n</property>
        <property name="Triggering_Policy_Size">20M</property>
        <Property name="LOG_PATH">logs</Property>
    </properties>

    <appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${Pattern_Layout}"/>
        </Console>
    </appenders>

    <loggers>
        <logger name="cn.elvea" level="DEBUG"/>
        <logger name="org.springframework.boot" level="WARN"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>

        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </loggers>
</configuration>
